.ctTweet {
    width: 530px;
    max-width: 100%;
    background: #202125;
    border: 1px solid;
    border-color: #d2d5d9;
    border-radius: 14px
}

.ctTweet>* {
    font-size: 16px;
    line-height: 1.5
}

.ctTweet .tweetUserImg {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%
}

.ctTweet .quotedTweet {
    border: 1px solid #cfd9de;
    border-radius: 10px
}

.ctTweet a {
    pointer-events: none
}

.ctTweet .twitterVerified {
    width: 15px
}

.ctTweet amp-video.tweetImg {
    width: 100%;
    height: 100%
}

.ctTweet amp-video {
    aspect-ratio: initial;
    height: 100%;
    width: 100%;
    object-fit: cover
}

.ctTweet .twitterLogo {
    width: 20px
}

.ctTweet .tweetUser {
    gap: 10px
}

.ctTweet img {
    margin-bottom: 0px;
    object-fit: cover
}

.ctTweet .tweetBody .tweetBody-verticle-rule {
    margin-left: 11px;
    margin-right: 11px;
    flex-shrink: 0
}

.ctTweet .tweetBody .tweetBody-verticle-rule>.vr {
    width: 2px;
    height: 100%;
    background-color: #cfd9de
}

.ctTweet .tweetBody p:not(:last-child) {
    margin-bottom: 8px
}

.ctTweet .tweetBody a {
    color: #045de9
}

.ctTweet .tweetBody video {
    aspect-ratio: initial;
    height: 100%;
    width: 100%;
    object-fit: cover
}

.ctTweet .tweetVideoBlock {
    width: 100%
}

.ctTweet .tweetFooter {
    color: inherit
}

.ctTweet .tweetImg {
    width: calc(50% - 2px);
    margin: 1px;
    border-radius: 6px;
    object-fit: cover;
    overflow: hidden
}

.tweetImg > span {
    width: 100%;
}

.ctTweet .imgCount3 {
    display: block;
    width: 100%
}

.ctTweet .imgCount3 > .tweetImg {
    float: left
}

.ctTweet .imgCount3 > .tweetImg:nth-child(1) {
    height: 302px;
    margin: 0 2px 0 0
}

.ctTweet .imgCount3 > .tweetImg:not(:nth-child(1)) {
    height: 150px
}

.ctTweet .tweetFooterItem .tweetFooterIcon {
    width: 20px
}

.ctTweet>img {
    margin-bottom: 0
}

.ctTweet .quotedTweetHead>* {
    font-size: 14px
}

.ctTweet .quotedTweetBody>* {
    font-size: 14px
}

.ctTweet .quotedTweetHead>.tweetUser>.tweetUserInfo {
    display: flex;
    gap: 8px;
    align-items: center
}

.ctTweet .quotedTweetHead>.tweetUser>.tweetUserImg {
    width: 32px;
    height: 32px
}

.ctTweet .tweetDivider {
    width: 100%;
    height: 1px;
    border-radius: 50%;
    background: #cfd9de
}

.ctTweet .tweetCreatedTime {
    font-size: 16px;
    opacity: .7
}

.tweetUsername { display: flex; align-items: center; gap: 4px }
.tweetProfile { font-size: 12px; }

@media(max-width: 575px) {
    .ctTweet>* {
        font-size: 14px
    }

    .quotedTweetHead>.tweetUser>.tweetUserInfo {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px
    }
}

.tweetBody-verticle-rule { margin-left: 11px; flex-shrink: 0; }
.tweetBody-verticle-rule > .vr { width: 2px; height: 100%; background-color: rgb(207, 217, 222)}
a{text-decoration: none; pointer-events: none;}
.w-100{ width: 100%; }
.my-2{ margin-top: 1rem; margin-bottom: 1rem; }
.p-3{ padding: 1rem }
.my-1{ margin-top: 1rem; margin-bottom: 1rem}
.my-3{ margin-top: 1rem; margin-bottom: 1rem}
.mx-auto{ margin-right: auto; margin-left: auto}
.border{ border: 1px solid }
.d-flex{ display: flex;}
.justify-content-between{ justify-content: space-between; }
.align-items-center{ align-items: center; }
.align-items-start{ align-items: start; }
.me-2 { float: right; /* margin-right: 1rem; */ }
.rounded-circle { border-radius: 50%; }
.overflow-hidden { overflow: hidden; }
.font-bold { font-weight: bold; } 
.mb-0 { margin-bottom: 0px; }
.flex-wrap { flex-wrap: wrap; }
.my-3 { margin-bottom: 1rem; margin-top: 1rem; }
.mb-0{ margin-bottom: 0px; }
.me-3{ float: right; margin-right: 1.5rem; }
.flex-grow-1 { flex-grow: 1; }
.d-block { display: block;}
.ct-insta-frame { border: 1px solid #d2d5d9}
.p-2 {padding: 1rem;}
.mb-2 {margin-bottom: 0.5rem;}
.mt-3 {margin-top: 1rem;}
.link-preview-height{ height:150px;}
.link-preview-width{ width:150px;}
.line-height-color{  line-height: 18px; color:var(--font-secondary);}
.link-preview-overflow{ 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 992px) {
    .p-md-4{ padding: 1.5rem}
}
@media only screen and (min-width: 768px) {
    .p-md-3{ padding: 1rem}
}

.embed-link-preview{
    margin:4px 0;
    position: relative;
    border:1px solid gray;
    border-radius: 20px;
    overflow: hidden;
}
.embed-link-preview .link{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
}
.ctLinkPreview{
    width: calc( 100% - 170px );
    flex-direction: column;
    padding: 5px 10px;
}
.embed-link-preview .image-preview img{
    object-fit: cover;
}
.ctLinkPreview .title{
    padding-top: 5px;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    color:#fff;
}
.ctLinkPreview .description{
    padding-top: 5px;
    font-size: 13px;
    line-height: 18px;
    color:#d2d5d9;
}
.ctLinkPreview .url{
    display: flex;
    align-items: end;
    flex:1;
}
.ctLinkPreview .url a{
    font-size: 12px;
    -webkit-line-clamp: 1;
}

@media(max-width: 575px) {
.ctLinkPreview .title{
    font-size: 12px;
    font-weight: 700;
}
.ctLinkPreview .description{
    font-size: 10px;
}
}



/*# sourceMappingURL=style.css.map */